@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("../css/animate.css");
@import url("../fonts/fontawesome-free/css/all.min.css");
body {
  background-color: #fff;
  font-family: 'Cinzel Decorative', cursive;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

/*   normalize  */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #fafafa;
}

.btn.btn-primary {
  padding: 8px 15px;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  font-size: 12px;
  line-height: 34px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  min-height: 55px;
  border-radius: 0;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary:focus {
  -webkit-box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn.btn-red {
  background-color: #C3131A !important;
  color: #fff !important;
  height: 60px;
  font-size: 22px;
  line-height: 45px !important;
}

.pad-60 {
  padding: 8px 60px !important;
}

/*############################ header section ###############################*/
.fixed-top {
  background-color: #fff !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  height: 100px;
  position: relative;
}

.header .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  z-index: 999;
  border-bottom: 1px solid rgba(236, 236, 236, 0.6);
}

.header .navbar .navbar-brand {
  width: 140px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .navbar .collapse1 {
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item a {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 30px;
  font-weight: 800;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-item a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: rgba(0, 0, 0, 0.7);
}

.header .navbar .collapse1 .navbar-nav .nav-item a.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: rgba(0, 0, 0, 0.7);
}

.header .navbar .collapse1 .navbar-nav .sub-menu .dropdown-menu {
  background: #fff;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 6px 6px;
  right: -20px;
  top: 20px;
  left: auto !important;
  min-width: 180px;
  border: 0 solid #f1f1f1;
}

.header .navbar .collapse1 .navbar-nav .sub-menu .dropdown-menu ul li a {
  font-weight: 700;
  font-size: 14px;
  color: #222831;
}

.header .navbar .collapse1 .navbar-nav .sub-menu .dropdown-menu ul li a:hover {
  color: #000;
}

.header .navbar .collapse1 .navbar-nav .sub-menu .dropdown-menu::before {
  content: "";
  border-top: 10px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 7px solid transparent;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 17px;
}

/* menu responsive */
.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #fff;
  height: 84px;
  padding: 32px 30px;
  background-color: #fff;
  border-radius: 0;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.form-group .form-control:focus {
  border-color: #000 !important;
  color: #000;
}

textarea {
  min-height: 120px;
}

@media (max-width: 767px) {
  .form-group .form-control {
    height: 50px;
    padding: 10px 15px;
    font-size: 14px;
  }
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

/*  middle section start here */
.max-1920 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto !important;
}

.middle-section {
  height: auto;
  padding-top: 100px;
}

.middle-section .no-gutter {
  margin: 0;
  padding: 0;
}

.middle-section .no-gutter .row {
  margin: 0 0;
}

.middle-section .no-gutter .row .col-no-pad {
  padding: 0;
}

.middle-section .banner-home-section .banner-home-inner .banner-left {
  min-height: 570px;
}

.middle-section .banner-home-section .banner-home-inner .banner-left .item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.middle-section .banner-home-section .banner-home-inner .banner-left .item img {
  height: 100%;
  min-height: 570px;
  max-height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .banner-home-section .banner-home-inner .banner-left .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.middle-section .banner-home-section .banner-home-inner .banner-left .owl-dots button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .banner-home-section .banner-home-inner .banner-left .owl-dots button span {
  background-color: transparent;
  border: 1px solid #fff;
}

.middle-section .banner-home-section .banner-home-inner .banner-left .owl-dots button.active span {
  background-color: #fff;
  border: 1px solid #fff;
}

.middle-section .banner-home-section .banner-home-inner .banner-right {
  background-color: #0F0F0F;
  min-height: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 50px 80px 50px;
}

.middle-section .banner-home-section .banner-home-inner .banner-right .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 490px;
  text-align: left;
}

.middle-section .banner-home-section .banner-home-inner .banner-right .content .content-top {
  margin-bottom: 30px;
}

.middle-section .banner-home-section .banner-home-inner .banner-right .content h2 {
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
}

.middle-section .banner-home-section .banner-home-inner .banner-right .content p {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.middle-section .banner-home-section .banner-home-inner .banner-right .content a {
  text-align: left;
  font-weight: 700;
}

.middle-section .my-story-section {
  padding: 120px 0;
  background-color: #FAFAFA;
}

.middle-section .my-story-section .story-heading h3 {
  font-size: 14px;
  color: #9B9B9B;
  line-height: 26px;
  font-weight: 400;
}

.middle-section .my-story-section .aboout-me-content .heading h2 {
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  font-weight: 700;
}

.middle-section .my-story-section .aboout-me-content .heading h2 span {
  display: block;
}

.middle-section .my-story-section .aboout-me-content .content p {
  color: #4A4A4A;
  font-size: 16px;
  line-height: 27px;
  text-transform: lowercase;
  font-weight: 400;
}

.middle-section .photography-section {
  padding: 120px 0;
  background-color: #fafafa;
}

.middle-section .contact-section {
  padding: 140px 0 120px;
  background-color: #fafafa;
}

.middle-section .contact-section .heading {
  margin-bottom: 20px;
}

.middle-section .contact-section .heading h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 32px;
  color: #000;
  text-align: center;
}

.middle-section .contact-section .error-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .contact-section .error-form p {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 0 !important;
}

.middle-section .portfolio-banner-section .portfolio-banner img {
  max-height: 780px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.middle-section .photogallery-section {
  padding: 120px 0;
}

.middle-section .photogallery-section .photogallery-inner .heading {
  margin-bottom: 50px;
}

.middle-section .photogallery-section .photogallery-inner .heading h3 {
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.footer-section {
  padding: 119px 0 0 0;
  background-color: #000;
  color: #fff;
}

.footer-section .footer-content-logo .logo-footer {
  margin-bottom: 40px;
}

.footer-section .footer-content-logo .logo-footer img {
  width: 120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section .footer-content-link {
  padding: 0px 0 0 0;
}

.footer-section .footer-content {
  margin-bottom: 20px;
}

.footer-section .footer-content h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
}

.footer-section .footer-content p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.footer-section .footer-content ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul.links li {
  font-size: 16px;
  line-height: 28px;
}

.footer-section .footer-content ul.links li a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 36px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .footer-content ul.links li a i {
  color: white !important;
}

.footer-section .footer-content ul.links li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
}

.footer-section .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-top: 25px;
}

.footer-section .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section .social-media ul li {
  display: inline-block;
  margin-right: 30px;
}

.footer-section .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .social-media ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}

.footer-section .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: rgba(255, 255, 255, 0.7) !important;
}

.footer-section .copy-right-text {
  padding: 20px 0;
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */
@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 90px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
    border-bottom: 1px solid #fafafa;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    font-size: 14px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 700;
    white-space: nowrap;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu a.nav-link {
    position: relative;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu a.nav-link::after {
    content: '\e92e';
    font-family: Feather;
    margin-left: auto;
    position: absolute;
    border: 0;
    right: 8px;
    top: 5px;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu .dropdown-menu {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    margin-top: 0;
    border-radius: 0;
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 0 0 !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu .dropdown-menu ul li {
    border-bottom: 1px solid #fff;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu.show a.nav-link {
    position: relative;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu.show a.nav-link::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    border: 0;
    position: absolute;
    right: 15px;
    top: -17px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: 0;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-left: 2px solid #fafafa;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  /* middle section start here */
  .middle-section {
    padding-top: 70px;
  }
  .middle-section .banner-home-section .banner-home-inner .banner-left {
    min-height: unset;
  }
  .middle-section .banner-home-section .banner-home-inner .banner-left .item img {
    min-height: 300px;
    max-height: 300px;
  }
  .middle-section .banner-home-section .banner-home-inner .banner-right {
    padding: 60px 30px;
    min-height: unset;
  }
  .middle-section .banner-home-section .banner-home-inner .banner-right .content {
    max-width: unset;
    width: 100%;
  }
  .middle-section .banner-home-section .banner-home-inner .banner-right .content .content-top {
    width: 100%;
  }
  .middle-section .banner-home-section .banner-home-inner .banner-right .content .content-top h2 {
    font-size: 24px;
    line-height: 40px;
  }
  .middle-section .banner-home-section .banner-home-inner .banner-right .content .content-bottom {
    width: 100%;
  }
  .middle-section .my-story-section {
    padding: 60px 0;
  }
  .middle-section .my-story-section .aboout-me-content .heading h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .middle-section .photography-section {
    padding: 60px 0;
  }
  .middle-section .contact-section {
    padding: 60px 0;
  }
  .middle-section .contact-section .heading h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .middle-section .contact-section .contact-form .error-form p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 0 !important;
  }
  .middle-section .contact-section .contact-form .submit-div {
    text-align: center;
  }
  .middle-section .contact-section .contact-form .submit-div .btn {
    height: 50px;
    font-size: 18px;
    line-height: 40px !important;
  }
  .footer-section {
    padding-top: 60px;
  }
  .footer-section .footer-content-link {
    padding: 20px 0 0 0;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 90px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-left: 0 !important;
    width: 100%;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
    border-bottom: 1px oslid #fafafa;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    font-size: 14px;
    line-height: 26px;
    padding: 8px 30px;
    font-weight: 700;
    white-space: nowrap;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu {
    width: 100%;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu a.nav-link {
    position: relative;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu a.nav-link::after {
    content: '\e92e';
    font-family: Feather;
    margin-left: auto;
    position: absolute;
    border: 0;
    right: 8px;
    top: 5px;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu .dropdown-menu {
    position: relative;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    margin-top: 0;
    border-radius: 0;
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 0 0 !important;
    top: 0;
    left: 0;
    right: 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu .dropdown-menu ul li {
    border-bottom: 1px solid #fff;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu.show a.nav-link {
    position: relative;
  }
  .header .navbar .navbar-collapse .navbar-nav .sub-menu.show a.nav-link::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    border: 0;
    position: absolute;
    right: 15px;
    top: -17px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: 0;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-left: 2px solid #fafafa;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .middle-section .banner-home-section .banner-home-inner .banner-right .content h2 {
    font-size: 42px;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    padding: 8px 30px;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* ----------- iPad Pro ----------- */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}
/*# sourceMappingURL=custom.css.map */