@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
// @import url("../css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url("../css/animate.css");
@import url("../fonts/fontawesome-free/css/all.min.css");

body {
  background-color: #fff;
  font-family: 'Cinzel Decorative', cursive;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -moz-appearance: textfield;
// }

/*   normalize  */

@media (min-width: 1200px) {
  .container {
      max-width: 1200px;
      width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.dropdown-item.active, .dropdown-item:active {
background-color: #fafafa;
}

.btn.btn-primary {
  padding: 8px 15px;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  font-size: 12px;
  line-height: 34px;
  transition: all 0.8s;
  min-height: 55px;
  border-radius: 0;

  &:hover {
    box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
  }
}

.btn.btn-red {
 background-color: #C3131A !important; 
 color: #fff !important;
 height: 60px;
 font-size: 22px;
 line-height: 45px !important;
}

.pad-60 {
  padding: 8px 60px !important;
}

/*############################ header section ###############################*/

.fixed-top {
  background-color: #fff !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  height: 100px;
  position: relative;

  .col-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-30 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .col-70 {
      flex: 0 0 80%;
      max-width: 80%;
    }
  }

  .row-100 {
    width: 100%;
    margin: 0;

    .col-12 {
      padding: 0;
    }
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
    z-index: 999;
    border-bottom: 1px solid rgba(236, 236, 236, 0.6);

    .navbar-brand {
      width: 140px;
      height: auto;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .collapse1 {
      height: 100%;

      .navbar-nav {
        .nav-item {
          a {
            color: #000;
            font-size: 14px;
            line-height: 24px;
            padding: 8px 30px;
            font-weight: 800;
            transition: all 0.4s ease-in-out;

            &:hover {
              transition: all 0.4s ease-in-out;
              color: rgba(0, 0, 0, 0.7);
            }
          }

          a.active {
            transition: all 0.4s ease-in-out;
            color: rgba(0, 0, 0, 0.7);
          }

       
        }

        .sub-menu {
          .dropdown-menu {
            background: #fff;
            margin-top: 30px;
            -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
            border-radius: 6px 6px;
            right: -20px;
            top: 20px;
            left: auto !important;
            min-width: 180px;
            border: 0 solid #f1f1f1;

            ul {
              li {
                a {
                  font-weight: 700;
                  font-size: 14px;
                  color: #222831;
                  &:hover {
                    color: #000;
                  }
                }
              }
            }
           
            &::before {
              content: "";
              border-top: 10px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 10px solid #fff;
              border-left: 7px solid transparent;
              display: inline-block;
              position: absolute;
              top: -20px;
              right: 17px;
            }
            
          }
        }

     
      }
    }
  }
}

/* menu responsive */

.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 18px;
    color: #181818;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #fff;
    height: 84px;
    padding: 32px 30px;
    background-color: #fff;
    border-radius: 0;
    font-size: 18px;
    box-shadow: none;
    outline: 0;

    &:focus {
      border-color: #000 !important;
      color: #000;
    }
  }
}

textarea {
  min-height: 120px;

}

@media (max-width: 767px) {
  .form-group {
    .form-control {
        height: 50px;
        padding: 10px 15px;
        font-size: 14px;

    }
  }
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

/*  middle section start here */

.max-1920 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto !important;
}

.middle-section {
  height: auto;
  padding-top: 100px;


  // banner

.no-gutter {
  margin: 0;
  padding: 0;
  .row {
    margin: 0 0;
    .col-no-pad {
      padding: 0;
    }
  }
}

.banner-home-section {
    .banner-home-inner {

      
      .banner-left {
        min-height: 570px;
        
        .item {
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 60%;
            display: block;
            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
          }
        }

        .item img {
          height: 100%;
          min-height: 570px;
          max-height: 570px;
          object-fit: cover;
      
        }

        .owl-dots {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;

          button {
            box-shadow: none;
            outline: 0;

            span {
              background-color: transparent;
              border: 1px solid #fff;
            }
            
          }

          button.active {

            span {
              background-color: #fff;
              border: 1px solid #fff;
            }
          }

        }
      }

      
      .banner-right {
        background-color: #0F0F0F;
        min-height: 570px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 80px 50px 80px 50px;

        .content {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          max-width: 490px;
          text-align: left;

          
          .content-top {
            margin-bottom: 30px;
          }

          h2 {
            color: #fff;
            font-size: 44px;
            line-height: 60px;
            font-weight: 700;
          }

          p {
            color: #fff;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
          }

          a {
            text-align: left;
            font-weight: 700;
          }
        }
      }
    }
}

.my-story-section {
  padding: 120px 0;
  background-color: #FAFAFA;

  .story-heading {
    h3 {
      font-size: 14px;
      color: #9B9B9B;
      line-height: 26px;
      font-weight: 400;
    }
  }

  .aboout-me-content {
    .heading {
      h2 {
        font-size: 50px;
        line-height: 60px;
        color: #000000;
        font-weight: 700;
        span {
          display: block;
        }
      }
    }

    .content {
      p {
        color: #4A4A4A;
        font-size: 16px;
        line-height: 27px;
        text-transform: lowercase;
        font-weight: 400;
      }
    }
  }
}

.photography-section {
  padding: 120px 0;
  background-color: #fafafa; 
}

.contact-section {
    padding: 140px 0 120px;
    background-color: #fafafa;

    .heading {
      margin-bottom: 20px;

      h3 {
        font-weight: 700;
        font-size: 34px;
        line-height: 32px;
        color: #000;
        text-align: center;
      }
    }

    .error-form {
      display: flex;
      align-items: flex-start;
      height: 100%;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 0 !important;
      }
    }
}

.portfolio-banner-section {
  .portfolio-banner {
    img {
      max-height: 780px;
      object-fit: cover;
      width: 100%;
    }
  }
}

.photogallery-section {
  padding: 120px 0;
  .photogallery-inner {
    .heading {
      margin-bottom: 50px;
    
      h3 {
          font-size: 50px;
          line-height: 60px;
          color: #000000;
          font-weight: 700;
          text-align: center;
      }
    }
  }
}
  
}

.footer-section {
  padding: 119px 0 0 0;
  background-color: #000;
  color: #fff;
  

  .footer-content-logo {
    .logo-footer {
      margin-bottom: 40px;

      img {
        width: 120px;
        height: auto;
        object-fit: cover;
      }
    }

  }

  .footer-content-link {
    padding: 0px 0 0 0;
  }

  .footer-content {
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      color: #fff;
    }

    p {
      font-size: 12px;
      line-height: 21px;
      font-weight: 400;
      color: rgba(255, 255, 255,0.7);

    }

    ul.links {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 16px;
        line-height: 28px;

        a {
          display: block;
          color: rgba(255, 255, 255, 0.5);
          font-size: 16px;
          line-height: 36px;
          text-decoration: none;
          transition: all 0.5s ease-in-out;

          i {
            color: rgba(255, 255, 255, 1) !important;
          }

          &:hover {
            transition: all 0.5s ease-in-out;
            color: rgba(255, 255, 255, 1);
          }
        }

      }
    }
  }


  .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 25px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        a {
        
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          background-color: transparent;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          font-size: 20px;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: rgba(255, 255, 255, 0.7) !important;

          }
        }
      }
    }
  }

  .copy-right-text {
    padding: 20px 0;

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 0;
    }
  }
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (max-width: 767px) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 90px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          .nav-item {
            padding: 0 20px;
            border-bottom: 1px solid #fafafa;

            a {
              
              font-size: 14px;
              line-height: 26px;
              padding: 8px 12px;
              font-weight: 700;
              white-space: nowrap;

             
            }
          }

          .sub-menu {

            a.nav-link {
              position: relative;
              &::after {
                content: '\e92e';
                font-family: Feather;
                margin-left: auto;
                position: absolute;
                border: 0;
                right: 8px;
                top: 5px;
                font-size: 20px;
                transition: all 0.3s;
                transform: rotate(0);
              }
            }

            .dropdown-menu {
              box-shadow: none !important;
              margin-top: 0;
              border-radius: 0;
              background-color: #fafafa;
              margin-bottom: 10px;
              padding: 0 0 !important;
              
              ul {
                li {
                 border-bottom: 1px solid #fff;
                }
              }
            }
          }

          .sub-menu.show {
            a.nav-link {
              position: relative;
              &::after {
              transform: rotate(180deg);
              transition: all 0.3s;
              }
            }
          }

        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        border: 0;
        position: absolute;
        right: 15px;
        top: -17px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 2px solid #fafafa;
  }

  .width-menu {
    width: 70%;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .middle-section {
    padding-top: 70px;

    .banner-home-section {
      .banner-home-inner {
        
        .banner-left {
          min-height: unset;

          .item {
            img {
              min-height: 300px;
              max-height: 300px;
            }
          }
        }

        .banner-right {
          padding: 60px 30px;
          min-height: unset;

          .content {
            max-width: unset;
            width: 100%;

            .content-top {
              width: 100%;

              h2 {
                font-size: 24px;
                line-height: 40px;
              }

            }

            .content-bottom {
              width: 100%;
            }

          }

        }
      }
    }

    .my-story-section {
      padding: 60px 0;

      .aboout-me-content {
       
        .heading {
          h2 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 20px;
          }
        }

      }

    }

    .photography-section {
      padding: 60px 0;
    }

    .contact-section {
      padding: 60px 0;

      .heading {
        h3 {
          font-size: 24px;
          line-height: 28px;  
        }
      }

      .contact-form {
        .error-form {
        

          p {
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            margin-bottom: 0 !important;
          }
        }

        .submit-div {
          text-align: center;

          .btn {
            height: 50px;
            font-size: 18px;
            line-height: 40px !important;
          }
        }
      }

      
      .form-group {
        .form-control {

        }
      }
    }
  }

  .footer-section {
    padding-top: 60px;

   

    .footer-content-link {
      padding: 20px 0 0 0;
    }


    .social-media {
      margin-top: 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  // no css
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 90px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;
          width: 100%;
          .nav-item {
            padding: 0 20px;
            border-bottom: 1px oslid #fafafa;
            a {
           
              font-size: 14px;
              line-height: 26px;
              padding: 8px 30px;
              font-weight: 700;
              white-space: nowrap;

              &:hover {

              }
            }
          }

          .sub-menu {
            width: 100%;
            a.nav-link {
              position: relative;
              &::after {
                content: '\e92e';
                font-family: Feather;
                margin-left: auto;
                position: absolute;
                border: 0;
                right: 8px;
                top: 5px;
                font-size: 20px;
                transition: all 0.3s;
                transform: rotate(0);
              }
            }

            .dropdown-menu {
              position: relative;
              box-shadow: none !important;
              margin-top: 0;
              border-radius: 0;
              background-color: #fafafa;
              margin-bottom: 10px;
              padding: 0 0 !important;
              top: 0;
              left: 0;
              right: 0;

              ul {
                li {
                 border-bottom: 1px solid #fff;
                }
              }
            }
          }

          .sub-menu.show {
            a.nav-link {
              position: relative;
              &::after {
              transform: rotate(180deg);
              transition: all 0.3s;
              }
            }
          }

        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        border: 0;
        position: absolute;
        right: 15px;
        top: -17px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 2px solid #fafafa;
  }

  .width-menu {
    width: 35%;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }


  .middle-section {
    .banner-home-section .banner-home-inner .banner-right .content h2 {
      font-size: 42px;
    }
  }

  .footer-section {
    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 12px;
              font-weight: 700;
              line-height: 22px;
              padding: 8px 30px;
            }
          }
        }
      }
    }
  }

  .footer-section {
    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}
