
.select2.select2-container {
    width: 100% !important;
}
.select2-results__options {
    margin: 0 !important;
}
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field,
.select2-container--bootstrap4 .select2-selection--multiple,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple,
.select2-container .select2-selection--single {
    font-size: 0.9375rem;
    line-height: 60px;
    display: block;
    height: 80px !important;
    width: 100%;
    height: calc(2.40625rem + 2px);
    padding: 0.5rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #495057;
    border: 1px solid #ffff;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}
@media screen and (prefers-reduced-motion: reduce) {
    .select2-container--bootstrap4 .select2-search--dropdown .select2-search__field,
    .select2-container--bootstrap4 .select2-selection--multiple,
    .select2-container--bootstrap4.select2-container--focus .select2-selection--multiple,
    .select2-container .select2-selection--single {
        transition: none;
    }
}
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field::-ms-expand,
.select2-container--bootstrap4 .select2-selection--multiple::-ms-expand,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple::-ms-expand,
.select2-container .select2-selection--single::-ms-expand {
    border: 0;
    background-color: transparent;
}
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field:focus,
.select2-container--bootstrap4 .select2-selection--multiple:focus,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple:focus,
.select2-container .select2-selection--single:focus {
    color: #495057;
    border-color: #000;
    outline: 0;
    background-color: #fff;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(41, 154, 255, 0.25); */
}
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field::-webkit-input-placeholder,
.select2-container--bootstrap4 .select2-selection--multiple::-webkit-input-placeholder,
[dir="ltr"]
    .select2-container--bootstrap4.select2-container--focus
    .select2-selection--multiple::-webkit-input-placeholder,
.select2-container .select2-selection--single::-webkit-input-placeholder {
    opacity: 1;
    color: rgba(74, 74, 74, 0.24);
}
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field:-ms-input-placeholder,
.select2-container--bootstrap4 .select2-selection--multiple:-ms-input-placeholder,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple:-ms-input-placeholder,
.select2-container .select2-selection--single:-ms-input-placeholder {
    opacity: 1;
    color: rgba(74, 74, 74, 0.24);
}
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field::-ms-input-placeholder,
.select2-container--bootstrap4 .select2-selection--multiple::-ms-input-placeholder,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple::-ms-input-placeholder,
.select2-container .select2-selection--single::-ms-input-placeholder {
    opacity: 1;
    color: rgba(74, 74, 74, 0.24);
}
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field::placeholder,
.select2-container--bootstrap4 .select2-selection--multiple::placeholder,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple::placeholder,
.select2-container .select2-selection--single::placeholder {
    opacity: 1;
    color: rgba(74, 74, 74, 0.24);
}
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field:disabled,
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field[readonly],
.select2-container--bootstrap4 .select2-selection--multiple:disabled,
.select2-container--bootstrap4 .select2-selection--multiple[readonly],
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple:disabled,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple[readonly],
.select2-container .select2-selection--single:disabled,
.select2-container .select2-selection--single[readonly] {
    opacity: 1;
    background-color: #e9ecef;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    overflow: inherit;
    padding: 0;
    white-space: inherit;
    text-overflow: inherit;
    line-height: 70px;
    padding-left: 15px;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: inherit;
    color: inherit;
}
.select2-dropdown {
    padding: 0.5rem 0;
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.07);
}
.select2-results__option {
    padding: 0.375rem 0.75rem;
    color: rgba(73, 80, 87, 0.54);
    background-color: transparent;
    display: flex;
    align-items: center;
}
.select2-results__option:hover {
    color: #495057;
}
.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected],
.select2-container--bootstrap4 .select2-results__option[aria-selected="true"] {
    color: #495057;
    background-color: transparent;
    font-weight: 600;
}
.select2-container--bootstrap4 .select2-results__option[aria-disabled="true"] {
    color: #95aac9;
}
.select2-container--bootstrap4 .select2-selection--multiple,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple {
    height: auto;
    min-height: calc(2.40625rem + 2px);
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
    display: block;
    margin: 0 0 -0.25rem -0.25rem;
    padding: 0;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    font-size: 0.8125rem;
    line-height: 1.40625rem;
    display: inline-flex;
    margin: 0 0 0.25rem 0.25rem;
    padding: 0 0.5rem;
    color: #495057;
    border: none;
    border-radius: 0.2rem;
    background-color: #f7f8f9;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 0.5rem;
    color: rgba(73, 80, 87, 0.54);
    order: 2;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #495057;
}
.select2-container .select2-search--inline {
    display: none;
}
.select2-search--dropdown {
    padding: 0.375rem 0.75rem;
}
.form-control-sm + .select2-container--bootstrap4 .select2-selection--multiple,
.form-control-sm + .select2-container--bootstrap4.select2-container--focus .select2-selection--multiple,
.form-control-sm + .select2-container .select2-selection--single,
.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field {
    font-size: 0.8125rem;
    line-height: 1.75;
    height: calc(1.67188rem + 2px);
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
}
.form-control-sm + .select2-container--bootstrap4 .select2-selection--multiple,
.form-control-sm + .select2-container--bootstrap4.select2-container--focus .select2-selection--multiple {
    min-height: calc(1.67188rem + 2px);
}
.form-control-sm + .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    line-height: 1.42188rem;
}
.form-control-lg + .select2-container--bootstrap4 .select2-selection--multiple,
.form-control-lg + .select2-container--bootstrap4.select2-container--focus .select2-selection--multiple,
.form-control-lg + .select2-container .select2-selection--single {
    font-size: 1.0625rem;
    line-height: 1.5;
    height: calc(2.59375rem + 2px);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.form-control-lg + .select2-container--bootstrap4 .select2-selection--multiple,
.form-control-lg + .select2-container--bootstrap4.select2-container--focus .select2-selection--multiple {
    min-height: calc(2.59375rem + 2px);
}
.form-control-lg + .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    line-height: 1.59375rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 80px;
    width: 30px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #000 !important;
    color: #fff !important;
}

@media (max-width: 767px) {

.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field,
.select2-container--bootstrap4 .select2-selection--multiple,
.select2-container--bootstrap4.select2-container--focus .select2-selection--multiple,
.select2-container .select2-selection--single {
    height: 50px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

}